<div class="form-horizontal">
  <legend>Resend confirmation instructions</legend>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group col-lg-12">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", class: "btn btn-default btn-sm" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
