<h3>
  Administrator
</h3>
<br>

<h5>
  Games:
</h5>
<br>
<div class="container">
  <div class="row">
    <% GameType.all.each do |type| %>
      <div id="game">
        <div class="name">
          <p>
            <%= type.name %>
          </p>
        </div>
        <div class="rules">
          <p><%= "Currently Active" if type.active == true %></p>
          <p><%= "Currently Inactive" if type.active == false %></p>
        </div>
        <div class="index-buttons">
          <% if type.active == true %>
            <%= link_to "Deactivate", deactivate_path(type.id), class: "btn btn-danger" %>
          <% else %>
            <%= link_to "Activate", activate_path(type.id), class: "btn btn-success"%>
          <% end %>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>
