<div id="table">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="hand">
          <% if game.over == true %>
          <br>
            <p id="game_header">
              Dealer's cards:
            </p>
            <%= display_cards_for(dealer) %>
            <p id="player_total">
              Total: <%= dealer.hand.value %>
            </p>
          <% else %>
          <br>
            <p id="game_header">
              Dealer's visible card is:
            </p>
            <%= display_card(dealer.cards.first) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
        <% if current_player %>
          <div class="col-md-12">
            <p id="game_header">
              Your cards:
            </p>
            <%= display_cards_for current_player %>
            <p id="player_total">
              Total: <%= current_player.hand.value %>
            </p>
            <br>
          </div>
        <% end %>


        <div class="row">
          <% game.other_human_players(current_player).each do |human| %>
            <% next if human == current_player  %>
            <div class="col-md-<%= (12 / game.other_human_players(current_player).count).floor %> %>">
              <% if human.hand %>
                <p id="game_header">
                  <%= human.user.email %>'s cards:
                </p>
                <%= display_cards_for human %>
                <p id="player_total">
                  Total: <%= human.hand.value %>
                </p>
              <% else %>
                Waiting until current game has concluded
              <% end %>
              </p>
            </div>
          <% end %>
        </div>

    </div>
  </div>
</div>
