<br>

<% if @game.over %>
  <%= link_to "New Game!", games_path(game: {host: current_user}), method: :post, class: "btn btn-danger btn-xs" %>
<% end %>

<% if !@game.over %>
  <% if @player.hand %>
    <%= link_to "Hit", hand_path(@player.hand.id), method: :patch, class: "btn btn-danger btn-xs" %>
    <%= link_to "Stand", dealer_update_path(@dealer.hand.id, @player.hand.id), method: :patch, class: "btn btn-info btn-xs" %>
  <% end %>
<% end %>

  <% if !@game.deck %>
    <%= link_to "Deal", decks_path(deck: {game_id: @game.id}), method: :post, class: "btn btn-danger btn-xs" %>
  <% end %>

  <% if @game.deck %>
    <p>
      Your cards are : <%= display_cards_for @player %>

    </p>
    <p>
      Your total: <%= @player.hand.value %>
    </p>
    <br>

    <% if @game.over %>
      <p>
        Dealer's cards are: <%= display_cards_for @dealer %>
      </p>
    <% else %>
      <p>
        Dealer's visible card is: <%= display_card @dealer.cards.first %>
      </p>
    <% end %>

  <% end %>
