<!DOCTYPE html>
<html>
  <head>
    <title>Casino</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >

  </head>

  <body>

    <nav class="nav navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to image_tag('brand.png', size: '20x20'), root_path, class: "navbar-brand", id:"logo" %>
          <%= link_to "super happy fun times casino", root_path, class: "navbar-brand" %>
        </div>
      <% if current_user %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li><%= link_to "Game History", game_history_path %></li>
              <li><%= link_to "Admin View", admin_view_path if current_user.admin == true %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        </ul>
      <% end %>
      </div>
    </nav>

    <div class="container">
      <div class="flashes">
        <% flash.each do |type, msg| %>
          <div class="alert alert-<%= type %>">
            <p><%= msg %></p>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
